.main-container {
    padding: 2%;
}

.category-section {
    margin-bottom: 3%;
}

.category-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow-x: auto;
    /* Enable horizontal scrolling if needed */
}